.textbox {
  color: rgb(181, 9, 9);
  background-color: rgb(152, 219, 255);
  border: 4px solid rgb(55, 55, 55);
  box-shadow: 4px 4px 8px 4px rgb(9, 230, 9);
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
  width: 400px;
}
